/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: unset;
}

.siteName > a {
  font-size: 2em;
  font-weight: bold;
}

/* navigation */
nav ul {
  display: flex;
  justify-content: space-around;
  background-color: #1c1a27;
  color: white;
  padding: 8px 0;
}
nav * li {
  list-style-type: none;
}

/* hero */
.hero--container {
  background-color: rgba(255, 255, 255, 0.5);
  width: 150px;
  position: relative;
}

.header-btn {
  width: 100px;
}

.header-car {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 200px;
  max-width: 300px;
  height: auto;
  transform: translate(-50%, -50%);
}

.blue {
  padding: 0;
  margin: 0;
  color: #16a1c9;
  list-style-type: none;
}

.bolder {
  font-weight: bolder;
}


/* upgrades */
.upgrades {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 8px;
}

.upgrades h2 {
  grid-row: 1/2;
  grid-column: 1/2;
}

.upgrades div:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/2;
}

.upgrades div:nth-child(3) {
  grid-row: 2/3;
  grid-column: 2/3;
}

.upgrades div:nth-child(4) {
  grid-row: 3/4;
  grid-column: 1/2;
}

.upgrades div:nth-child(5) {
  grid-row: 3/4;
  grid-column: 2/3;
}

.upgrades div {
  width: 100%;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #16a1c9;
  border: 1px solid black;
  border-bottom: none;
}

.white-bg {
  background-color: white;
  width: 100%;
  text-align: center;
  border-top: 1px solid black;
}

.blue-bg {
  width: 65px;
  height: auto;
  max-height: 65px;

}

@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue !important;
  }
}